* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --black: #000000;
    --white: #ffffff;
    --text-color: #fff;
    --second-color: #ccc;
    --main-color: #ff4d05;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

body {
    background: var(--white);
    color: var(--black);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--black);
    border-bottom: 1px solid transparent;
    transition: all .4s ease;
}

.logo {
    margin-left: 10px;
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}

.navlist {
    display: flex;
}

.navlist a {
    color: var(--second-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .4s ease;
}

.navlist a:hover {
    color: var(--white);
}

.navlist a.active {
    color: var(--white);
}

#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

section {
    display: flex;
    flex-direction: row;
    padding: 160px 15% 120px;
    align-items: center;
}

.home {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.home-text h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}




.home-text p {
    font-size: 0.9rem;
    margin-bottom: 30px;
}


.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 50px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all .4s ease;
}

.btn:hover {
    transform: scale(0.9);
}

.aboutUs {
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
    background: var(--black);
    color: var(--white);
}

.aboutUs-text {
    text-align: right;
}

.aboutUs-text p {
    font-size: 0.9rem;
    margin-bottom: 30px;
    color: var(--second-color);
}

.aboutUs-text h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.profile-cards-section {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card {
    background-color: var(--black);
    height: 30rem;
    width: 18rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 10px var(--black);
    align-items: center;
    color: white;
}

.card-image {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin-top: 20px;
}

.card-name {
    margin-top: 35px;
    font-size: 1.5rem;
    font-weight: bold;
}

.card-about {
    margin-top: 20px;
    text-align: center;
    font-size: 0.9rem;
    margin: 10px;
    color: var(--second-color);
}

.carousel-section {
    background: var(--black);
}

.carousel-main {
    background: var(--white);
    color: var(--black);
    display: flex;
    padding: 0 35px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.carousel-main h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.carousel-main .carouselBtn {
    margin-top: 20px;
    margin-bottom: 20px;
}

.carousel-wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
}

.carousel-wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.dragging .carouselCard {
    cursor: grab;
    user-select: none;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel .carouselCard {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: var(--white);
    border-radius: 8px;
    cursor: pointer;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.carousel .carouselCard h2 {
    color: var(--white);
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

.carousel .carouselCard span {
    color: var(--white);
    font-size: 0.9rem;
}

.carouselBtn i {
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.carousel .carouselCard:nth-child(1) {
    background: #ff8800;
}

.carousel .carouselCard:nth-child(2) {
    background: #f76565;
}

.carousel .carouselCard:nth-child(3) {
    background: #63d5e7;
}

.carousel .carouselCard:nth-child(4) {
    background: #ff8800;
}

.carousel .carouselCard:nth-child(5) {
    background: #f76565;
}

.services-section {
    background: var(--white);
}

.services-main {
    border-radius: 30px;
    display: flex;
    background: var(--black);
    color: var(--white);
    width: 100%;
}

.services-content {
    width: 50%;
    margin: 15px;
    margin-left: 30px;
}

.services-content h1 {
    margin-top: 10px;
    font-size: 2.35rem;
}
.services-content h4 {
    color: blue;
    margin-top: 50px;
}

.services-content p {
    margin-top: 15px;
    font-size: 0.9rem;
}

.servicebtn {
    margin-top: 15px;
    color: var(--white);
    border: none;
    background: #e2bbf0;
    color: var(--black);
    cursor: pointer;
}

.services-boxes-container {
    margin: 50px;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}


.box {
    display: flex;
    flex-direction: column-reverse;
    color: var(--black);
    background: #e2bbf0;
    border-radius: 10px;
    text-align: bottom;
    padding: 10px;
    height: 200px;
    cursor: pointer;
    transition: all .4s ease;
}

.box:hover {
    transform: translate(0, -60px) rotate(-15deg);
}

.box h2 {
    font-size: 1.5rem;
}

.box p {
    color: #0000008f;
    font-size: 0.6rem;
}

.footer-section {
    text-decoration: none;
    background: var(--black);
    color: var(--white);
    padding: 20px 0;
}

.footer-main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.footer-main li a{
    color: var(--white);
}